<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <title>Log In</title>
    <style>
        body {
            background-color: #212529;
            color: #ffffff;
        }
        .form-control, .btn, .form-check-label {
            font-size: 0.875rem;
        }
        .form-floating > label {
            font-size: 0.875rem;
        }
        .btn-google {
            background-color: #db4437;
            color: white;
        }
        .btn-google:hover {
            background-color: #c33c28;
            color: white;
        }
        .container.main-box {
            background-color:#343a40;
            padding: 2rem;
            border-radius: 8px;
            width: 350px;
        }
        .error-message {
            color: red;
            font-size: 0.875rem;
            margin-bottom: 1rem;
        }
    </style>
</head>
<body>
    <div class="container main-box">
        <form action="/login" method="POST">
            <div class="text-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="72" height="57" style="margin-right: 5px;" fill="currentColor" class="bi bi-book" viewBox="0 0 16 16">
                    <path d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783"/>
                </svg>
                <h1 class="h3 mb-3 fw-normal">Please Log in</h1>
            </div>
            <% if (locals.error) { %>
                <div class="error-message text-center"><%= error %></div>
            <% } %>
            <div class="form-floating mb-3">
                <input type="email" name="username" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Email address</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Password</label>
            </div>

            <div class="form-check text-start my-3">
                <input class="form-check-input" type="checkbox" value="remember-me" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    Remember me
                </label>
            </div>
            <div class="text-center mb-3">
                <a href="/forgot-password" class="text-white">Forgot password?</a>
            </div>
            <button class="btn btn-primary w-100 py-2" type="submit">Log in</button>
            
            <div class="d-grid gap-2 my-3">
                <a class="btn btn-google btn-block" href="/auth/google" role="button">
                    <i class="fab fa-google me-2"></i>
                    Log In with Google
                </a>
            </div>

            <p class="mt-5 mb-3 text-body-secondary">© 2017–2024</p>
        </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
